<% layout('layouts/main') %>
<div class="search__container">
  <label class="search__label" for="search"></label>
  <input class="search__input" type="text" maxlength="60" name="search" placeholder="" />
  <button class="search__clear" type="button"></button>
</div>
<button class="mobile__filter-menu"></button>
<div class="filter-btn__container">
  <button class="filter-btn filter-btn--today" type="button"></button>
  <button class="filter-btn filter-btn--tomorrow" type="button"></button>
  <button class="filter-btn filter-btn--other" type="button"></button>
</div>
<div class="date-filter__wrapper">
  <ul class="date-filter__list"></ul>
</div>
<div class="filter-genre__container">
  <select class="filter-genre__dropdown">
    <option value="all" class="filter-genre__dropdown-all"></option>
    <option value="Romance" class="filter-genre__dropdown-romance"></option>
    <option value="Action" class="filter-genre__dropdown-action"></option>
    <option value="Horror" class="filter-genre__dropdown-horror"></option>
    <option value="Kids" class="filter-genre__dropdown-kids"></option>
    <option value="Comedy" class="filter-genre__dropdown-comedy"></option>
  </select>
</div>
<ul class="movie__wrapper">
  <% movies.forEach(movie=> { %>
    <li class="movie">
      <a href="/movies/<%= movie.id %>">
        <% if (movie.attributes.image) { %>
          <img class="movie__image" src="<%= movie.attributes.image.url %>" />
          <% } %>
            <div class="movie__content">
              <h2 class="movie__title">
                <%= movie.attributes.title %>
              </h2>
            </div>
      </a>
    </li>
    <% }); %>
</ul>
<div class="filter-btn__container">
  <button class="filter-btn__show-less" type="button"></button>
  <button class="filter-btn__show-all" type="button"></button>
</div>

<div class="movie-modal__container">
  <!--This is a section of placeholders for dynamic content-->
  <div class="movie-modal__content">
    <span class="movie-modal__close">X</span>
    <div class="movie-details">
      <img class="movie-details__image" />
      <h2 class="movie-details__title"></h2>
      <p class="movie-details__id"></p>
      <p class="movie-details__runtime"></p>
      <p class="movie-details__description"></p>
      <p class="movie-details__genres"></p>
    </div>
  </div>
</div>